<div class="background-gradient">
  <div class="container">
    <div class="row">
        <div class="col-xs-5 margin-align center-vertical-text">
          <div class="polygone">
            <p class="white-font light-font letter-spacing"><span class="little_polygone pop-new small-font"><strong>NEW</strong></span> Discover personnalized recommendations per category</p>
          </div>
          <div class="">
            <h1 class="white-font light-font">From Start-up to Scale-up</h1>
            <p class="white-font light-font">The real challenge of start-ups is to make sure the first 100 people are engaged, motivated and feel good at work so they can drive your company to the top</p>
          </div>
        </div>
        <div class="col-xs-5 col-md-offset-1">
          <%= render 'devise/registrations/new' %>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-xs-6 fixed-width">
      <h5 class="orange-font light-font letter-spacing big-font">ANONYMOUS</h5>
      <br>
      <p class="light-font">Ti amo, un soldo Ti amo, in aria Ti amo se viene testa Vuol dire che basta: Lasciamoci Ti amo, io sono (tiam) in fondo un uomo Che non ha freddo nel cuore Nel letto comando io Ma tremo Davanti al tuo seno Ti odio e ti amo E' una farfalla che muore Sbattendo le ali L'amore che a letto si fa</p>
      <p class="orange-font font-size light-font">Learn More </p>
    </div>
    <div class="col-xs-6 fixed-width">
      <h5 class="orange-font light-font letter-spacing big-font">QUICK SURVEYS</h5>
      <br>
      <p class="light-font">Ti amo, un soldo Ti amo, in aria Ti amo se viene testa Vuol dire che basta: Lasciamoci Ti amo, io sono (tiam) in fondo un uomo Che non ha freddo nel cuore Nel letto comando io Ma tremo Davanti al tuo seno Ti odio e ti amo E' una farfalla che muore Sbattendo le ali L'amore che a letto si fa</p>
      <p class="orange-font font-size light-font">Learn More </p>
    </div>
  </div>
  <br>
  <br>
  <br>

  <div class="row">
    <div class="col-xs-6 fixed-width">
      <h5 class="orange-font light-font letter-spacing big-font">RECOMMANDATIONS</h5>
      <br>
      <p class="light-font">Ti amo, un soldo Ti amo, in aria Ti amo se viene testa Vuol dire che basta: Lasciamoci Ti amo, io sono (tiam) in fondo un uomo Che non ha freddo nel cuore Nel letto comando io Ma tremo Davanti al tuo seno Ti odio e ti amo E' una farfalla che muore Sbattendo le ali L'amore che a letto si fa</p>
      <p class="orange-font font-size light-font">Learn More</p>
    </div>
    <div class="col-xs-6 fixed-width">
      <h5 class="orange-font light-font letter-spacing big-font">ILLIMITED USERS</h5>
      <br>
      <p class="light-font">Ti amo, un soldo Ti amo, in aria Ti amo se viene testa Vuol dire che basta: Lasciamoci Ti amo, io sono (tiam) in fondo un uomo Che non ha freddo nel cuore Nel letto comando io Ma tremo Davanti al tuo seno Ti odio e ti amo E' una farfalla che muore Sbattendo le ali L'amore che a letto si fa</p>
      <p class="orange-font font-size light-font">Learn More</p>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="container">
    <div class="row text-center">
     <%= image_tag asset_path("lock.svg"), class: "big-picto text-center" %>
     <br>
     <br>
      <h4 class="orange-font light-grey-text letter-spacing big-font">Trusted by 25+ companies</h4>
      <br>
      <p class="col-md-6 col-md-offset-3 light-font text-center">Ti amo, un soldo Ti amo, in aria Ti amo se viene testa Vuol dire che basta: Lasciamoci Ti amo, io sono (tiam) in fondo un uomo Che non ha freddo nel cuore Nel letto comando io Ma tremo Davanti al tuo seno Ti odio e ti amo E' una farfalla che muore Sbattendo le ali L'amore che a letto si fa</p>
    </div>
  </div>

  <br><br><br><br>

  <div class="container">
    <div class="row">
      <div class="col-xs-6 card demi-card">
        <div class="row">
          <div class="col-xs-2">
            <%= image_tag asset_path("alex.png"), class: "big-picto text-center" %>
          </div>
          <div class="col-xs-10">
            <h5 class="orange-font light-font">Name of the person</h5>
              <p class="light-font light-grey-text">Ti amo, un soldo Ti amo, in aria Ti amo se viene testa Vuol dire che basta: Lasciamoci Ti amo, io sono (tiam) in fondo un uomo Che non ha freddo nel cuore Nel letto comando io Ma tremo</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 card demi-card">
        <div class="row">
          <div class="col-xs-2">
            <%= image_tag asset_path("alex.png"), class: "big-picto text-center" %>
          </div>
          <div class="col-xs-10">
            <h5 class="orange-font light-font">Name of the person</h5>
              <p class="light-font light-grey-text">Ti amo, un soldo Ti amo, in aria Ti amo se viene testa Vuol dire che basta: Lasciamoci Ti amo, io sono (tiam) in fondo un uomo Che non ha freddo nel cuore Nel letto comando io Ma tremo</p>
          </div>
        </div>
      <br><br><br><br><br><br>
      </div>
    </div>
  </div>

    <div class="container">
    <div class="row">
      <div class="col-xs-6 card demi-card">
        <div class="row">
          <div class="col-xs-2">
            <%= image_tag asset_path("alex.png"), class: "big-picto text-center" %>
          </div>
          <div class="col-xs-10">
            <h5 class="orange-font light-font">Name of the person</h5>
              <p class="light-font light-grey-text">Ti amo, un soldo Ti amo, in aria Ti amo se viene testa Vuol dire che basta: Lasciamoci Ti amo, io sono (tiam) in fondo un uomo Che non ha freddo nel cuore Nel letto comando io Ma tremo</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 card demi-card">
        <div class="row">
          <div class="col-xs-2">
            <%= image_tag asset_path("alex.png"), class: "big-picto text-center" %>
          </div>
          <div class="col-xs-10">
            <h5 class="orange-font light-font">Name of the person</h5>
              <p class="light-font light-grey-text">Ti amo, un soldo Ti amo, in aria Ti amo se viene testa Vuol dire che basta: Lasciamoci Ti amo, io sono (tiam) in fondo un uomo Che non ha freddo nel cuore Nel letto comando io Ma tremo</p>
          </div>
        </div>
      <br><br><br><br><br><br>
      </div>
    </div>
  </div>
</div>
