<div class="background-gradient">
  <div class="container">
    <div class="row">
        <div class="col-xs-5 margin-align center-vertical-text">
          <div class="polygone">
            <p class="white-font light-font letter-spacing"><span class="little_polygone pop-new small-font"><strong>NEW</strong></span> Discover personnalized recommendations</p>
          </div>
          <div class="">
            <h1 class="white-font light-font">From Start-up to Scale-up</h1>
            <p class="white-font light-font">The main challenge of today's start-ups is to ensure their employees are engaged, motivated and feel good at work so they can drive your company to the top.
            <br>
            <br>
            It’s common knowledge that happy employees are more productive, and a healthier and happier workplace begins with listening to your employees. Leading a team is a continuous cycle of connection, communication, understanding, and action.

            Oh happy work! is designed to help you work better together in a simple but effective way. It  gathers regular employee feedback while ensuring anonymity, which encourages employees to share their honest thoughts.</p>
            <p class="white-font light-font"></p>
          </div>
        </div>
        <div class="col-xs-5 col-md-offset-1">
          <%= render 'devise/registrations/new' %>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-xs-6 fixed-width">
      <h5 class="orange-font light-font letter-spacing big-font">ANONYMOUS</h5>
      <br>
      <p class="light-font">Oh happy work! takes anonymity extremely seriously. Individual survey response are never exposed. To keep privacy of the participants, only aggregated results are presented so that organizations can have the data they need to take action and improve.</p>
   <!--    <p class="orange-font font-size light-font">Learn More </p> -->
    </div>
    <div class="col-xs-6 fixed-width">
      <h5 class="orange-font light-font letter-spacing big-font">QUICK SURVEYS</h5>
      <br>
      <p class="light-font">Our product comes with a various set of questions thoughtfully crafted by industry experts. Employees take the survey in just a few clicks, and the organisation will receive an analysis of results and trends. Questions are adjusted giving you the most precise picture across all metrics.</p>
<!--       <p class="orange-font font-size light-font">Learn More </p> -->
    </div>
  </div>
  <br>
  <br>
  <br>

  <div class="row">
    <div class="col-xs-6 fixed-width">
      <h5 class="orange-font light-font letter-spacing big-font">RECOMMANDATIONS</h5>
      <br>
      <p class="light-font">Intelligent recommendations for managers based on your own data. Get recommended tactics to strengthen your team based on their lowest-score according to the metrics that matter to you.</p>
      <!-- <p class="orange-font font-size light-font">Learn More</p> -->
    </div>
    <div class="col-xs-6 fixed-width">
      <h5 class="orange-font light-font letter-spacing big-font">INTUITIVE DASHBOARD</h5>
      <br>
      <p class="light-font">Managers will receive feedback in a visually appealing manner, using a dashboard that breaks down responses and reviews according to how individuals voted and how sentiment has shifted over time.</p>
      <!-- <p class="orange-font font-size light-font">Learn More</p> -->
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="container">
    <div class="row text-center">
     <%= image_tag asset_path("lock.svg"), class: "big-picto text-center" %>
     <br>
     <br>
      <h4 class="orange-font light-grey-text letter-spacing big-font">Trusted by 25+ companies</h4>
      <br>
      <!-- <p class="col-md-6 col-md-offset-3 light-font text-center">Ti amo, un soldo Ti amo, in aria Ti amo se viene testa Vuol dire che basta: Lasciamoci Ti amo, io sono (tiam) in fondo un uomo Che non ha freddo nel cuore Nel letto comando io Ma tremo Davanti al tuo seno Ti odio e ti amo E' una farfalla che muore Sbattendo le ali L'amore che a letto si fa</p> -->
    </div>
  </div>

  <br><br><br><br>

  <div class="container">
    <div class="row">
      <div class="col-xs-6 card demi-card">
        <div class="row">
          <div class="col-xs-2">
            <%= image_tag asset_path("Jane.jpg"), class: "big-picto text-center" %>
          </div>
          <div class="col-xs-10">
            <h5 class="orange-font light-font">Jane Doe</h5>
              <p class="light-font light-grey-text">"I believe it’s a great way to keep in touch with what employees are thinking because they can speak openly and truthfully."</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 card demi-card">
        <div class="row">
          <div class="col-xs-2">
            <%= image_tag asset_path("Frank.jpg"), class: "big-picto text-center" %>
          </div>
          <div class="col-xs-10">
            <h5 class="orange-font light-font">Frank B.</h5>
              <p class="light-font light-grey-text">"It's becoming invaluable and I'm finding the insights are influencing us in all sorts of aspects."</p>
          </div>
        </div>
      <br><br><br><br><br><br>
      </div>
    </div>
  </div>

    <div class="container">
    <div class="row">
      <div class="col-xs-6 card demi-card">
        <div class="row">
          <div class="col-xs-2">
            <%= image_tag asset_path("Angela.jpg"), class: "big-picto text-center" %>
          </div>
          <div class="col-xs-10">
            <h5 class="orange-font light-font">Angela Smith</h5>
              <p class="light-font light-grey-text">"Great tool to measure the pulse of my team and take corrective actions. Also great visual management tool!"</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 card demi-card">
        <div class="row">
          <div class="col-xs-2">
            <%= image_tag asset_path("Tyler.jpg"), class: "big-picto text-center" %>
          </div>
          <div class="col-xs-10">
            <h5 class="orange-font light-font">Tyler Murray</h5>
              <p class="light-font light-grey-text">A real game changing tool!  have always believed that work should really be a community of people who are energized by each other, as well as a shared mission</p>
          </div>
        </div>
      <br><br><br><br><br><br>
      </div>
    </div>
  </div>
</div>
