<div class="card">
  <h4 class="">Tools & Processes</h4>
  <p class="light-grey-text">Training, systems and methods indicator </p>
  <div class="frame">
  <h4 class="light-font text-center"> Team's effectiveness </h4>
    <% if tools <= 1  %>
      <p class="picto-inline align-vertical-center margin-topy">
        <%= image_tag asset_path("orange-star.svg"), class: "picto" %>
        <%= image_tag asset_path("grey-star.svg"), class: "picto" %>
        <%= image_tag asset_path("grey-star.svg"), class: "picto" %>
        <%= image_tag asset_path("grey-star.svg"), class: "picto" %>
        <%= image_tag asset_path("grey-star.svg"), class: "picto" %>
      </p>
    <% elsif tools > 1 && tools <= 2 %>
      <p class="picto-inline align-vertical-center margin-topy">
        <%= image_tag asset_path("orange-star.svg"), class: "picto" %>
        <%= image_tag asset_path("orange-star.svg"), class: "picto" %>
        <%= image_tag asset_path("grey-star.svg"), class: "picto" %>
        <%= image_tag asset_path("grey-star.svg"), class: "picto" %>
        <%= image_tag asset_path("grey-star.svg"), class: "picto" %>
      </p>
    <% elsif tools > 2 && tools <= 3 %>
      <p class="picto-inline align-vertical-center margin-topy">
        <%= image_tag asset_path("orange-star.svg"), class: "picto" %>
        <%= image_tag asset_path("orange-star.svg"), class: "picto" %>
        <%= image_tag asset_path("orange-star.svg"), class: "picto" %>
        <%= image_tag asset_path("grey-star.svg"), class: "picto" %>
        <%= image_tag asset_path("grey-star.svg"), class: "picto" %>
      </p>
    <% elsif tools > 3 && tools <= 4 %>
      <p class="picto-inline align-vertical-center margin-topy">
        <%= image_tag asset_path("orange-star.svg"), class: "picto" %>
        <%= image_tag asset_path("orange-star.svg"), class: "picto" %>
        <%= image_tag asset_path("orange-star.svg"), class: "picto" %>
        <%= image_tag asset_path("orange-star.svg"), class: "picto" %>
        <%= image_tag asset_path("grey-star.svg"), class: "picto" %>
      </p>
    <% elsif tools > 4 %>
      <p class="picto-inline align-vertical-center margin-topy">
        <%= image_tag asset_path("orange-star.svg"), class: "picto" %>
        <%= image_tag asset_path("orange-star.svg"), class: "picto" %>
        <%= image_tag asset_path("orange-star.svg"), class: "picto" %>
        <%= image_tag asset_path("orange-star.svg"), class: "picto" %>
        <%= image_tag asset_path("orange-star.svg"), class: "picto" %>
      </p>
      <% else tools = nil %>
      <p class="light-font light-grey-text"> Waiting for data</p>
    <% end %>
    <br><br><br>
  </div>
</div>
