<div class="container">
  <div class="row">
    <div class="col-md-8">
      <% if params[:team_id] %>
        <h1 class="orange-font light-font margin-lefty"><%= @reviews.first.survey.team.name %>'s reviews</h1>
      <% elsif params[:survey_id] %>

        <h1 class="orange-font light-font margin-lefty"><%= @reviews.first.survey.team.name %>'s reviews on <%= @reviews.first.survey.created_at.strftime("%d/%m/%Y")%></h1>

      <% else %>
        <h1 class="orange-font light-font margin-lefty">All reviews</h1>
      <% end %>
    </div>
    <div class="col-md-4">
      <% if params[:team_id] %>
        <%= link_to "Back to #{Team.find(params[:team_id]).name}'s dashboard", team_surveys_path(Team.find(params[:team_id])), class: "button button-white"%>
      <% elsif params[:survey_id] %>
        <%= link_to "Back to survey", survey_path(Survey.find(params[:survey_id])), class: "button button-orange"%>
      <% else %>
        <%= link_to "Back to global dashboard", teams_path, class: "button button-white" %>
      <% end %>
    </div>
  </div>

<% @reviews.each do |review| %>

 <div class="container">
  <div class="card card-long-slim ">
    <p>From <%= review.survey.team.name %>'s team on
      <%= review.created_at.strftime("%d/%m/%Y") %></p>
      <h4>"<%=review.content %>"</h4>

  </div>
</div>
<% end %>


  <% if params[:team_id] %>
  <%= link_to "Back to #{Team.find(params[:team_id]).name}'s dashboard", team_surveys_path(Team.find(params[:team_id])), class: "button button-orange"%>
  <% end %>



</div>
