<!--Main dashboard-->
<div class="flex-container">
  <div class="left">
    <div class="left-content">

      <div class="left-content-item">
        <%= image_tag 'dash-default', class: "padding-right icon-size", id: "dash" %>

        <p>All surveys results</p>
      </div>
      <div class="left-content-item">
        <%= image_tag "history-default", class: "padding-right icon-size", id: "history" %>
        <p>Specific survey results</p>
      </div>
      <div class="left-content-item">
        <%= image_tag "profile-default", class: "padding-right icon-size", id: "accout" %>
        <p>Account settings</p>
      </div>
    </div>
  </div>

  <div class="center">
    <div class="container">
      <div class="row">
        <div class="col-md-8">

          <!-- render title -->
          <% if @team %>
            <h1 class="orange-font light-font"><%= @team.name %>'s pulse dashboard</h1>
          <% end %>

        </div>
        <div class="col-md-4">
          <div class="dropdown right">
            <button class="dropbtn">Select your team <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
            <div class="dropdown-content">
              <!-- render dropdown -->
              <% @teams.each do |team| %>
                <%= link_to "#{team.name }", team_surveys_path(team) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="card orange-card">
            <h4>Global Happiness</h4>
            <%= link_to "Reviews", "#", class: "button button-white" %>
          </div>
        </div>

        <div class="col-md-4">
          <% if @well_being_question %>
            <%= link_to question_path(@well_being_question) do %>
              <%= render "surveys/well_being_card" %>
            <% end %>
          <% else %>
            <%= render "surveys/well_being_card" %>
          <% end %>
        </div>

        <div class="col-md-4">
          <% if @personal_growth_question %>
            <%= link_to question_path(@personal_growth_question) do %>
              <%= render "surveys/personal_growth_card" %>
            <% end %>
          <% else %>
            <%= render "surveys/personal_growth_card" %>
          <% end %>
        </div>

        <div class="col-md-4">
          <% if @collaboration_question %>
            <%= link_to question_path(@collaboration_question) do %>
              <%= render "surveys/collaboration_card" %>
            <% end %>
          <% else %>
            <%= render "surveys/collaboration_card" %>
          <% end %>
        </div>

        <div class="col-md-4">
          <% if @tool_question %>
            <%= link_to question_path(@tool_question) do %>
              <%= render "surveys/tool_card" %>
            <% end %>
          <% else %>
            <%= render "surveys/tool_card" %>
          <% end %>
        </div>

        <div class="col-md-4">
          <% if @enterprise_culture_question %>
            <%= link_to question_path(@enterprise_culture_question) do %>
              <%= render "surveys/enterprise_culture_card" %>
            <% end %>
          <% else %>
            <%= render "surveys/enterprise_culture_card" %>
          <% end %>
        </div>


      </div>
    </div>
  </div>
  <div class="right">

  </div>
</div>


<!-- waiting for the average given by the controller-->


