<!--Main dashboard-->
<div class="flex-container">
  <div class="left">
    <div class="left-content">

      <div class="left-content-item">
        <%= image_tag(asset_path('dash-default'), class: "padding-right icon-size", id: "dash") %>

        <p>
        <%= link_to "All surveys results", team_surveys_path(@team), class: "orange-font"%>
        </p>
      </div>
      <div class="left-content-item">
        <%= image_tag asset_path("history-default"), class: "padding-right icon-size", id: "history" %>
        <p>Specific survey results</p>

      </div>
        <div class="margin-left">
        <% @team.surveys.pluck(:id).each do |id| %>
        <p><%= link_to "Survey of #{Survey.find(id).created_at.strftime("%m/%d/%Y")}", survey_path(Survey.find(id)), class: "orange-font" %></p>
        <% end %>
        </div>
    </div>
  </div>

  <div class="center">
    <div class="container">
      <div class="row">
        <div class="col-md-8">

          <!-- render title -->
          <% if @team %>
            <h1 class="orange-font light-font"><%= @team.name %>'s pulse dashboard</h1>
            <% if @survey %>
              <p class="orange-font">Survey of <%= @survey.created_at.strftime("%m/%d/%Y") %></p>
            <% end %>
          <% end %>

        </div>
        <div class="col-md-4">
          <div class="dropdown right">
            <button class="dropbtn">Select your team <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
            <div class="dropdown-content">
              <!-- render dropdown -->
              <% @teams.each do |team| %>
                <%= link_to "#{team.name }", team_surveys_path(team) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="card orange-card">
            <h4>Global Happiness</h4>

            <h2> <%= @global %> </h2>
            <%= link_to "Reviews", "#", class: "button button-white" %>
          </div>
        </div>

        <div class="col-md-4">
          <% if @well_being_question %>
            <%= link_to question_path(@well_being_question) do %>
              <%= render "shared/cards/well_being_card", rating: @well_being %>
            <% end %>
          <% else %>
              <%= render "shared/cards/well_being_card", rating: @well_being %>
          <% end %>
        </div>

        <div class="col-md-4">
          <% if @personal_growth_question %>
            <%= link_to question_path(@personal_growth_question) do %>
              <%= render "shared/cards/personal_growth_card", rating: @personal_growth %>
            <% end %>
          <% else %>
              <%= render "shared/cards/personal_growth_card", rating: @personal_growth %>
          <% end %>
        </div>

        <div class="col-md-4">
          <% if @collaboration_question %>
            <%= link_to question_path(@collaboration_question) do %>
              <%= render "shared/cards/collaboration_card", rating: @collaboration %>
            <% end %>
          <% else %>
              <%= render "shared/cards/collaboration_card", rating: @collaboration %>
          <% end %>
        </div>

        <div class="col-md-4">
          <% if @tool_question %>
            <%= link_to question_path(@tool_question) do %>
              <%= render "shared/cards/tools_and_processes_card", rating: @tools, ratings: @tools_ratings %>
            <% end %>
          <% else %>
              <%= render "shared/cards/tools_and_processes_card", rating: @tools, ratings: @tools_ratings  %>
          <% end %>
        </div>

        <div class="col-md-4">
          <% if @enterprise_culture_question %>
            <%= link_to question_path(@enterprise_culture_question) do %>
              <%= render "shared/cards/enterprise_culture_card", rating: @enterprise_culture %>
            <% end %>
          <% else %>
              <%= render "shared/cards/enterprise_culture_card", rating: @enterprise_culture %>
          <% end %>
        </div>


      </div>
    </div>
  </div>
  <div class="right">

  </div>
</div>


<!-- waiting for the average given by the controller-->


