<h1>Surveys#show</h1>
<p>Find me in app/views/surveys/show.html.erb</p>

<!--Main dashboard-->
<h4>Well being</h4>
<p><%= @well_being %></p>
<h4>Personal growth</h4>
<p><%= @personal_growth %></p>

<h4>Collaboration</h4>
<p><%= @collaboration %></p>
<h4>Tools & Processes</h4>
<p><%= @tools %></p>
<h4>Enterprise culture</h4>
<p><%= @enterprise_culture %></p>

