<!--Main dashboard-->
<div class="flex-container">
  <%= render "shared/sidebar" %>
  <div class="center">
    <div class="container">
      <div class="row">
        <div class="margin-lefty col-md-7">
          <% if @team %>
            <% if @survey %>
              <h2 class="orange-font">Survey of <%= @survey.created_at.strftime("%A, %b %d  %Y") %></h2>
            <p>Completion of the survey (<%=@responses_number %>/<%=@users_number%> team members)</p>
            <div class="progress small-bar">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"aria-valuemin="0"  aria-valuemax="100" style="width:<%= @pourcentage %>%"><%= @pourcentage %>%
              </div>
            </div>
            <% end %>
          <% else %>
            <h1 class="orange-font light-font">All team's pulse dashboard</h1>
          <% end %>
        </div>
        <div class="col-md-4">
          <div class="dropdown right">
            <button class="dropbtn">Select your team <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
            <div class="dropdown-content">
              <!-- render dropdown -->
              <% @teams.each do |team| %>
                <%= link_to "#{team.name }", team_surveys_path(team) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="row card-long-slim blank-card ">
        <div class="col-md-2 margin-center light-font light-grey-text">Categories</div>
          <div class="col-md-1 margin-center">
          <p class="light-font light-grey-text">Notes</p>
        </div>
        <div class="col-md-6 margin-center">
          <p class="light-grey-text light-font">Survey's questions</p>
        </div>
      </div>

      <!-- CARDS / CATEGORIES  -->
      <div class="row card card-long-slim">
        <div class="col-md-2 margin-center">Well being</div>
          <div class="col-md-1 margin-center">
          <p class="light-font light-grey-text orange-font bold-font"><%= (@well_being).round(1) %>/5</p>
        </div>
        <div class="col-md-6 margin-center">
          <p class="light-grey-text">"<%= @questions.first %>"</p>
        </div>
      <div class="col-md-3 margin-center"><%= link_to 'Recommandations', question_path(@well_being_question), class: "button button-orange no-margin" %></div>
      </div>


      <div class="row card card-long-slim">
        <div class="col-md-2 margin-center">Personal growth</div>
          <div class="col-md-1 margin-center">
            <p class="light-font light-grey-text orange-font bold-font"><%= (@personal_growth).round(1) %>/5</p>
        </div>
        <div class="col-md-6 margin-center">
          <p class="light-grey-text">"<%= @questions.second %>"</p>
        </div>
      <div class="col-md-3 margin-center"><%= link_to 'Recommandations', question_path(@personal_growth_question), class: "button button-orange no-margin" %></div>
      </div>

      <div class="row card card-long-slim">
        <div class="col-md-2 margin-center">Collaboration</div>
          <div class="col-md-1 margin-center">
           <p class="light-font light-grey-text orange-font bold-font"><%= (@collaboration).round(1) %>/5</p>
        </div>
        <div class="col-md-6 margin-center">
          <p class="light-grey-text">"<%= @questions.third %>"</p>
        </div>
      <div class="col-md-3 margin-center"><%= link_to 'Recommandations', question_path(@collaboration_question), class: "button button-orange no-margin" %></div>
      </div>

      <div class="row card card-long-slim">
        <div class="col-md-2 margin-center">Tools & Processes</div>
          <div class="col-md-1 margin-center">
            <p class="light-font light-grey-text orange-font bold-font"><%= (@tools).round(1) %>/5</p>
        </div>
        <div class="col-md-6 margin-center">
          <p class="light-grey-text">"<%= @questions.fourth %>"</p>
        </div>
      <div class="col-md-3 margin-center"><%= link_to 'Recommandations', question_path(@tool_question), class: "button button-orange no-margin" %></div>
      </div>

      <div class="row card card-long-slim">
        <div class="col-md-2 margin-center">Enterprise culture</div>
          <div class="col-md-1 margin-center">
            <p class="light-font light-grey-text orange-font bold-font"><%= (@enterprise_culture).round(1) %>/5</p>
        </div>
        <div class="col-md-6 margin-center">
          <p class="light-grey-text">"<%= @questions.fifth %>"</p>
        </div>
      <div class="col-md-3 margin-center"><%= link_to 'Recommandations', question_path(@enterprise_culture_question), class: "button button-orange no-margin" %></div>
      </div>
<%= link_to "Back to Dashboard", team_surveys_path(@team), class: "button button-white" %>
      </div>
    </div>
  </div>
  <div class="right">
  </div>
</div>
<% if params[:team_id] %>
  <%= render 'shared/modal' %>
<% end %>
