<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--- PAGE TITLE -->
    <title>Oh Happy Work! Performance rhyme with happiness</title>
    <!--- Google Meta -->
    <meta name="theme-color" content="#FFF">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" lang="EN" content="Oh Happy Work, performance rhyme with happiness">
    <meta name="author" content="Oh Happy Work!">
    <meta name="robots" content="index,follow">
    <!--- Open Graph Meta (Facebook - Linkedin)
     -->
    <meta property="og:url" content="https://www.ohhappywork.fun">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Oh Happy Work, performance rhyme with happiness">
    <meta property="og:description" content="Oh Happy Work, performance rhyme with happiness ">
    <meta property="og:image" content="https://dp8v87cz8a7qa.cloudfront.net/43730/5b8815fb4b7541535645179.jpg">
    <meta property="og:site_name" content="Oh Happy Work!">
     <meta property="fb:app_id" content="317927762300792" />
    <!--- Favicon -->
    <link rel="shortcut icon" sizes="32x32" href="https://dp8v87cz8a7qa.cloudfront.net/43730/5b8815c02a4301535645120.png">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->


  </head>
  <body>
    <%= render 'shared/navbar' %>
    <div id="flashes"><%= render 'shared/flashes' %></div>
    <%= yield %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>



